.crosshair {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crosshair .crosshair__vertical {
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5px;
    height: 50%;
    background-color: #3b3b3b;
}

.crosshair .crosshair__horizontal {
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: .5px;
    background-color: #3b3b3b;
}